<!-- begin navbar-header -->
<div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed navbar-toggle-left" data-click="sidebar-minify">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a href="@Url.Action("Index")" class="navbar-brand">
        @*<img src="~/Content/assets/img/logo.png" class="img-fluid" style="margin-bottom: 5px; max-height: 48px;" />*@
        SNP
    </a>
</div>
<!-- end navbar-header -->